/* *{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: dodgerblue;
    color: white;
    background-image: url('../css-images/light-wool.png');
}

.box{
    width: 370px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 25px;
}

.box h2{
    color: honeydew;
    text-transform: uppercase;
    font-weight: 500;
    background: #191919;

}

.box textarea{
    column-span: 200px;
    resize: vertical;
}

.box input, .box textarea{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid dodgerblue;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box input:focus, .box textarea:focus{
    width: 280px;
    border-color: hotpink;
}

.box button[type = 'submit']{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid hotpink;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box button[type = 'submit']:hover{
    background: hotpink;
}

.box .link, form a{
    color: white;
    background: #191919;
} */

h2{
    font-family: monaco;
}