* {
    box-sizing: border-box;
}

.meme {
    display: flex;
    margin: auto;
    width: 90px;
    height: 90px;
    /* background-image: url('http://vignette1.wikia.nocookie.net/meme/images/7/71/BusinessCat2.jpg'); */
    background-size: 100%; 
    text-align: center;
    position: relative;
}

.p {
    position: absolute; 
    left: 0;
    right: 0; 
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0px 2px 0 #000,
    2px 0px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}